extends ../layout/layout.pug

block content
  #root
    != prerenderHtml
block dynamicJs
  script.
    window.__PRELOADED_STATE__ = !{ JSON.stringify(preloadedState) }
  script(src=helpers.assetUrl('index.js'))
block dynamicCss
  link(rel='stylesheet' href=helpers.assetUrl('index.css'))
