body,
html {
  height: 100%;
}

.no-mobile {
  visibility: visible;
}

.show-mobile {
  visibility: hidden;
}

.main.container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -179px;
  width: 100%;
  padding: 0;
}

.user-info,
.glyphicon.white,
.mdi-icon.white {
  color: #fff;
}

.mdi-icon.main-logo {
  position: absolute;
  transition: all .4s;
  font-size: 50px;
  line-height: 70px;
  transform: scale3d(1, 1, 1);
  transform: scale(1, 1)\9;
  transform-origin: 0 0;
}

.footer,
.push {
  height: 179px;
  clear: both;
}

.footer {
  background: #5bde95;
}

.footer .container {
  height: 100%;
}


/* dropdown module */

.mo-dropdown {
  position: relative;
}

.mo-dropdown:hover .mo-dropdown__menu {
  transform: translate3d(-50%, 0, 0) scale3d(1, 1, 1);
  transform: translate(-50%, 0) scale(1, 1)\9;
  opacity: 1;
  z-index: 3;
}

.mo-dropdown:hover .mo-dropdown__menu.mo-dropdown__menu--right-aligned {
  /*  left: auto;
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  transform: translate(0, 0) scale(1, 1)\9;*/
}

.mo-dropdown .mo-dropdown__menu {
  will-change: transform, opacity;
  transform: translate3d(-50%, 0, 0) scale3d(1, 0, 1);
  transform: translate(-50%, 0) scale(1, 0)\9;
  opacity: 0;
  left: 50%;
  width: 200px;
  text-align: center;
  transform-origin: 0 0;
  transition: transform .4s, opacity .2s;
  position: absolute;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08), 0 0 1px 0 rgba(0, 0, 0, 0.12);
  z-index: -1;
}

.mo-dropdown .mo-dropdown__menu.mo-dropdown__menu--right-aligned {
  /*left:auto;
  right: 0;*/
  width: 100px;
  /*  transform: translate3d(0, 0, 0) scale3d(1, 0, 1);
  transform: translate(0, 0) scale(1, 0)\9;*/
}

.mo-dropdown .mo-dropdown__item {
  padding: 1px 4px;
  line-height: 20px;
  transition: background .4s;
  background: #fff;
}

.mo-dropdown .mo-dropdown__item:hover {
  background: #eee;
}


/* end of dropdown module */


/* nav module */

.mo-navbar {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 70px;
  z-index: 4;
  line-height: 70px;
  background: transparent;
  /*padding: 10px 0;*/
  transition: all .4s;
  background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .5) 2%, rgba(0, 0, 0, .00) 100%);
}

.mo-navbar .mo-navbar__container {
  max-width: 1024px;
  margin: 0 auto;
  height: 100%;
}

.mo-navbar .mo-navbar__brand {
  float: left;
  height: 100%;
  *display: inline;
  /* IE6, IE7 */
}

.mo-navbar .mo-navbar__brand:after {
  content: '';
  clear: both;
  display: block;
}

.mo-navbar .mo-navbar__nav.mo-nav {
  height: 100%;
  *display: inline;
  /* IE6, IE7 */
  width: 100%;
  margin-left: 20%;
}

.mo-navbar .mo-navbar__nav.mo-nav .mo-nav__item {
  display: inline-block;
  *display: inline;
  /* IE6, IE7 */
  zoom: 1;
  padding: 0 15px;
  background: transparent;
  transition: background .4s;
}

.mo-navbar.mo-navbar--up .mo-navbar__nav.mo-nav .mo-nav__item.highlight,
.mo-navbar.mo-navbar--up .mo-navbar__nav.mo-nav .mo-nav__item.active {
  background-color: #419c6a;
}

.mo-navbar .mo-navbar__nav.mo-nav .mo-nav__item a {
  transition: background .4s, color .4s;
}

.mo-navbar .mo-navbar__nav.mo-nav .mo-nav__item:hover {
  text-decoration: underline;
}

.mo-navbar .mo-navbar__users {
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}

.mo-navbar .mo-navbar__users .mo-navbar__users-container {
  display: table;
}

.mo-navbar .mo-navbar__users .locales-form .form-group {
  margin-bottom: 0;
  margin-right: 20px;
}

.mo-navbar .mo-navbar__users .locales-form .form-control.input-sm {
  height: 20px;
}

.mo-navbar .mo-navbar__users .locales-form,
.mo-navbar .mo-navbar__users .mo-nav__item {
  display: table-cell;
  vertical-align: middle;
}

.mo-navbar .mo-navbar__users .mo-nav__item>a {
  color: #fff;
}

.mo-navbar.mo-navbar--up {
  height: 50px;
  line-height: 50px;
  background: #5bde95;
}

.mo-navbar__nav.mo-nav .mo-nav__item>a {
  color: #fff;
}

.mo-navbar.mo-navbar--up .mo-navbar__nav.mo-nav .mo-nav__item>a {
  color: #fff;
}


/* end of nav module */

.mo-navbar.mo-navbar--up .mo-dropdown .mo-dropdown__menu {
  top: 50px;
  z-index: 4;
}

.mo-navbar.mo-navbar--up .mobile-menu-icon.mdi-icon {
  line-height: 50px;
}

.mo-navbar.mo-navbar--up .mdi-icon.main-logo {
  transform: scale3d(.8, .8, 1);
  transform: scale(.8, .8)\9;
  line-height: 65px;
}


/* nav mobile module */

.mo-nav-mobile__menu-wrapper a{
  color: #fff;
}

.mobile-menu-icon.mdi-icon {
  display: none;
  cursor: pointer;
  float: left;
  margin-left: 10px;
  line-height: 50px;
  transition: line-height .4s;
}

.mo-navbar__nav-mobile.mo-nav-mobile {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  z-index: 5;
  transition: visibility .2s;
}

.mo-nav-mobile-menu__item {
  text-align: center;
  padding: 10px;
}

.mo-nav-mobile-menu__item .line {
  width: 35%;
  margin: 5px auto -5px;
  height: 5px;
  background-color: #fff;
  opacity: 0;
  transition: opacity .4s;
}

.mo-nav-mobile-menu__item.active .line {
  opacity: 1;
}

.mo-nav-mobile-menu__item.active {
  /*  background-color: #419c6a;*/
}

.mo-navbar__nav-mobile.mo-nav-mobile.visible {
  visibility: visible;
}

.mo-navbar__nav-mobile.mo-nav-mobile.visible .mo-nav-mobile__content {
  transform: translate3d(0, 0, 0);
}

/*.mo-navbar__nav-mobile.mo-nav-mobile.visible .mo-nav-mobile__content:before{
  content: '';
  width: 100%;
  height: 100%;
   background-color: rgba(0, 0, 0, 0.125); 
  position: absolute;
  background: linear-gradient(135deg, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 2%,rgba(0,0,0,0.22) 100%);
  top: 0;
  left: 0;
  filter: blur(50px);
}*/

.mo-navbar__nav-mobile.mo-nav-mobile .mo-nav-mobile__content {
  will-change: transform, opacity;
  position: absolute;
  text-align: center;
  box-shadow: 0 0 4px rgba(8, 25, 12, 0);
  transform: translate3d(-200%, 0, 0);
  width: 259px;
  height: 100%;
  padding: 20px;
  border: 0;
  z-index: 1;
  background: #5de8a2;
  transition: transform .4s;
}

.mo-navbar__nav-mobile.mo-nav-mobile .mo-nav-mobile__menu-wrapper {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.mo-navbar__nav-mobile.mo-nav-mobile.visible .mo-nav-mobile__mask {
  opacity: .6;
  z-index: 1;
}

.mo-navbar__nav-mobile.mo-nav-mobile .mo-nav-mobile__mask {
  will-change: opacity;
  position: absolute;
  cursor: pointer;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0;
  top: 0;
  z-index: -1;
  transition: opacity 0.2s;
}

.mo-nav-mobile__menu.mo-nav-mobile-menu {
  list-style-type: none;
}

.mo-navbar__nav-mobile.mo-nav-mobile .mo-nav-mobile-menu__link {
  color: #fff;
}


/* end of nav mobile module */

.modal-dialog {
  margin: 80px auto!important;
}

.btn-green {
  background-color: #5bde95;
  color: #fff!important;
  transition: all 0.2s;
}

.btn-green:hover {
  background-color: #5cd491;
  color: #fff!important;
}

.btn-green:active {
  color: #fff!important;
}

@media only screen and (max-width: 990px) {
  .mo-navbar .mo-navbar__users .locales-form .form-group {
    margin-right: 0;
  }
  .no-mobile-display {
    display: none!important;
  }
  .no-mobile {
    visibility: hidden;
  }
  .show-mobile {
    visibility: visible;
  }
  .mobile-menu-icon.mdi-icon {
    display: inline-block;
    color: #fff;
    font-size: 35px;
  }
  .show-mobile.main-logo {
    position: absolute;
    transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
    left: 50%;
    top: 50%;
    color: #fff;
  }
  .mdi-icon.mdi-edwardxiao {
    font-size: 40px;
    
  }
  .mo-navbar__container {
    text-align: center;
  }
  .mo-navbar .mo-navbar__brand {
    float: none;
  }
  .mo-navbar__nav {
    display: none;
  }
  .mo-navbar {
    height: 50px;
    line-height: 50px;
  }
  .mo-navbar.mo-navbar--up .mobile-menu-icon.mdi-icon {
    line-height: 50px;
  }
  .modal-dialog {
    width: 100%!important;
    height: 100%!important;
    margin: 0!important;
    padding: 0!important;
  }
  .modal-content {
    height: auto!important;
    min-height: 100%!important;
    border-radius: 0!important;
    border: 0!important;
  }
}
