body {
  opacity: 0;
  transition: opacity .4s;
}

body.visible{
  opacity: 1;
}

.home-section {
  position: relative;
  background: url('../images/jumbotron.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  overflow: hidden;
}

.home-section__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff
}

#login-modal .modal-body .input-group{
  margin: 0 0 10px 0;
}
#login-modal .modal-body .operations{
  text-align: right;
}
#login-modal .operations .btn.btn-primary{
  margin-right: 10px;
}

@media only screen and (max-width: 790px) {
  .index-intro {
    height: 200px;
  }
}
